<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:include="layout :: htmlhead"></head>
	<body>
		<div class="container">
		<nav th:replace="layout :: menu">(menu)</nav>
		
		<a href="form.html" th:href="@{/pedidocompra/novo}"
			class="btn btn-primary btn-lg" role="button">Novo</a>
		
			<table class="table" id="pedidocompra">
				<thead class="thead-light"> 
					<tr>
						<th scope="col">Fornecedor</th>
						<th scope="col">Data</th>
						<th scope="col">Valor</th>
					</tr>
				</thead>
				<tbody>
					<tr scope="row" th:each="umpedidocompra : ${pedidocompra}">
						<td th:if="${umpedidocompra.fornecedor != null}" th:text="${umpedidocompra.fornecedor.nome}"></td>
						<td th:text="${#dates.format(umpedidocompra.dataCompra, 'dd/MM/yyyy HH:mm')}"></td>
						<td th:text="${umpedidocompra.valor}"></td>
						<td><a th:href= "@{'/pedidocompra/edit/' + ${umpedidocompra.id}}" class="btn btn-warning">Alterar</a>
						<button class='btn btn-danger btn-md js-delete'
								th:data-customer-id="${umpedidocompra.id}">Excluir</button>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		<div th:include="layout :: footer" id ="footer">(footer)</div>
		<script type="text/javascript">
			$(document).ready(function(){
				$("#pedidocompra").on("click", ".js-delete", function(){
					var button = $(this);
					bootbox.confirm("Você tem certeza que quer excluir esse pedido?", function(result){
						if(result){
							$.ajax({
								url: "/pedidocompra/delete/" + button.attr("data-customer-id"),
								method: "GET",
								success: function (){
									window.location.href = "/pedidocompra/"
								}
							});
						}
					});
				});
			});
		</script>
	</body>
</html>