<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:include="layout :: htmlhead"></head>
	<body>
		<div class="container">
			<nav th:replace="layout :: menu">(menu)</nav>
 			<div class="border border-dark">
				<form th:action="@{/estoque/(form)}" th:object="${estoque}" action="#" method="post">
					<input type="hidden" id="txtid" th:field="*{id}"/>	
					<div class="form-group">
                        <label for="slcProduto">Produto</label>
                        <select class="form-control" id="slcproduto" th:field="*{produto}">
                            <option th:each="umproduto : ${listaprodutos}" th:value="${umproduto.id}" th:text="${umproduto.nome}"></option>
                        </select>
                    </div>
				    <div class="form-group">
				        <label for="txtquantidade">Quantidade</label>
				        <input type="text" th:field="*{quantidade}" class="form-control" 
				        id="txtquantidade" placeholder="Quantidade">
				    </div> 
				    <button type="submit" class="btn btn-primary">Enviar</button>
				</form>
			</div>
		</div>
		<div th:include="layout :: footer" id="footer">(footer)</div>
	</body>
</html>